body {
    margin-top: 150px;
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    padding: 0%;
}

.form-box{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    position: relative;
    text-align: center;
    width: 600px;
    height: 380px;
    background: transparent;
    border: 1px solid rgba(255,255,255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 15px;
    padding: 25px;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    background: transparent;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #e6e1e4;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: bold;
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.341);
    margin-bottom: 15px;
}

.btn:hover {
    background: #73717130;
    text-decoration: none;
}

a {
    color: #ffffff;
}